<section class="container my-5">
    <div class="row g-4">
        <div class="col-sm-6 col-lg-4">
            <div class="card h-100 shadow-sm">
                <img src="../../../assets/images/bike1.jpg" class="card-img-top" alt="Bici 1">
                <div class="card-body">
                    <h5 class="card-title">Bici di Amine</h5>
                    <p class="card-text">Perfetta per le strade venete. Da 18€/giorno.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="card h-100 shadow-sm">
                <img src="../../../assets/images/bike2.jpg" class="card-img-top" alt="Bici 2">
                <div class="card-body">
                    <h5 class="card-title">MTB Hardtail</h5>
                    <p class="card-text">Pronta per i colli Berici. Da 22€/giorno.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="card h-100 shadow-sm">
                <img src="../../../assets/images/bike3.jpg" class="card-img-top" alt="Bici 3">
                <div class="card-body">
                    <h5 class="card-title">E-Bike</h5>
                    <p class="card-text">Assistenza elettrica inclusa. Da 28€/giorno.</p>
                </div>
            </div>
        </div>
    </div>
</section>