<section id="home" class="hero my-black-bg">
    <img src="../../../assets/images/black-bike.jpg" alt="Bici 1">
    <div class="hero-overlay"></div>
    <div class="hero-text">
        <h1 class="display-5 text-center bai-jamjuree-bold-italic">Noleggia bici nella piattaforma più grande d'Italia
        </h1>
    </div>
</section>

<section class="container my-5">
    <h3 class="text-center mb-5 bai-jamjuree-bold-italic text-dark display-6">Dove siamo presenti</h3>
    <div class="row justify-content-center g-3">
        <div class="col-6 col-md-4 col-lg-2 text-center">
            <div class="location-pill">Roma</div>
        </div>
        <div class="col-6 col-md-4 col-lg-2 text-center">
            <div class="location-pill">Milano</div>
        </div>
        <div class="col-6 col-md-4 col-lg-2 text-center">
            <div class="location-pill">Venezia</div>
        </div>
        <div class="col-6 col-md-4 col-lg-2 text-center">
            <div class="location-pill">Firenze</div>
        </div>
        <div class="col-6 col-md-4 col-lg-2 text-center">
            <div class="location-pill">Napoli</div>
        </div>
        <div class="col-6 col-md-4 col-lg-2 text-center">
            <div class="location-pill">Bologna</div>
        </div>
        <div class="col-6 col-md-4 col-lg-2 text-center">
            <div class="location-pill">Torino</div>
        </div>
        <div class="col-6 col-md-4 col-lg-2 text-center">
            <div class="location-pill">Genova</div>
        </div>
        <div class="col-6 col-md-4 col-lg-2 text-center">
            <div class="location-pill">Palermo</div>
        </div>
        <div class="col-6 col-md-4 col-lg-2 text-center">
            <div class="location-pill">Cagliari</div>
        </div>
        <div class="col-6 col-md-4 col-lg-2 text-center">
            <div class="location-pill">Verona</div>
        </div>
        <div class="col-6 col-md-4 col-lg-2 text-center">
            <div class="location-pill">Lecce</div>
        </div>
    </div>
</section>

<div class="bike-list-section my-bg-black py-5 px-0 w-100" style="border-top: 4px solid #b71c1c;">
    <div class="container">
        <app-bike-list id="bikes"></app-bike-list>
    </div>
</div>