<header class="my-bg-black shadow-sm py-3 px-4 d-flex justify-content-between align-items-center">
    <h1 class="h4 m-0 text-white bai-jamjuree-medium">ListnRide Clone</h1>
    <nav>
        <a href="#" class="text-decoration-none me-3 text-white">Home</a>
        <a href="#home" class="text-decoration-none me-3 text-white">Biciclette</a>
        <a href="#bikes" class="text-decoration-none text-white">Contatti</a>
    </nav>
</header>

<section id="home" class="hero my-black-bg">
    <img src="../../../assets/images/black-bike.jpg" alt="Bici 1">
    <div class="hero-text">
        <h2 class="display-5 bai-jamjuree-medium">Noleggia bici n°1 in Italia</h2>
    </div>
</section>

<app-bike-list id="bikes"></app-bike-list>