.transition-header {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.transparent-header {
    background: transparent !important;
    box-shadow: none !important;
    transition: background 0.3s, box-shadow 0.3s;
}

.scrolled-header {
    background: #1a1a1a !important;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.18);
    transition: background 0.3s, box-shadow 0.3s;
}

.custom-dropdown-position {
    left: auto !important;
    right: 0 !important;
    transform: translateX(-1%);
}