<app-navbar></app-navbar>
<router-outlet></router-outlet>
<footer id="contacts" class="bg-black text-light py-5 border-top border-danger">
    <div class="container">
        <div class="row gy-4">
            <div class="col-12 col-md-4 text-center text-md-start mb-3 mb-md-0">
                <h5 class="bai-jamjuree-bold-italic text-danger mb-3">BikeRent Italia</h5>
                <p class="mb-2 small">La piattaforma n°1 per il noleggio bici in Italia.</p>
                <p class="mb-0 small">&copy; 2025 BikeRent Italia</p>
            </div>
            <div class="col-12 col-md-4 text-center mb-3 mb-md-0">
                <h6 class="bai-jamjuree-bold text-white mb-3">Link utili</h6>
                <ul class="list-unstyled mb-0 small">
                    <li class="mb-2"><a routerLink="/about" class="text-light text-decoration-none">Chi siamo</a></li>
                    <li class="mb-2"><a routerLink="/faq" class="text-light text-decoration-none">FAQ</a></li>
                    <li><a routerLink="/contatti" class="text-light text-decoration-none">Contatti</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4 text-center text-md-end">
                <h6 class="bai-jamjuree-bold text-white mb-3">Seguici</h6>
                <div class="mb-3">
                    <a href="#" class="text-danger me-3 fs-4"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="text-danger me-3 fs-4"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="text-danger fs-4"><i class="fab fa-twitter"></i></a>
                </div>
                <div class="small mt-2">rideclone&#64;gmail.com</div>
            </div>
        </div>
    </div>
</footer>